# 作業 : (Kaggle)鐵達尼生存預測

# [作業目標]
- 試著完成三種不同特徵類型的三種資料操作, 觀察結果
- 思考一下, 這三種特徵類型, 哪一種應該最複雜/最難處理

# [作業重點]
- 完成剩餘的八種 類型 x 操作組合 (In[6]~In[13], Out[6]~Out[13])
- 思考何種特徵類型, 應該最複雜

In [1]:
# 載入基本套件
import pandas as pd
import numpy as np

# 讀取訓練與測試資料
data_path = 'data/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')
df_train.shape

(891, 12)

In [2]:
# 重組資料成為訓練 / 預測用格式
train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
# 秀出資料欄位的類型與數量
dtype_df = df.dtypes.reset_index()
dtype_df.columns = ["Count", "Column Type"]
dtype_df = dtype_df.groupby("Column Type").aggregate('count').reset_index()
dtype_df

  Column Type  Count
0       int64      3
1     float64      2
2      object      5

In [4]:
#確定只有 int64, float64, object 三種類型後, 分別將欄位名稱存於三個 list 中
int_features = []
float_features = []
object_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'float64':
        float_features.append(feature)
    elif dtype == 'int64':
        int_features.append(feature)
    else:
        object_features.append(feature)
print(f'{len(int_features)} Integer Features : {int_features}\n')
print(f'{len(float_features)} Float Features : {float_features}\n')
print(f'{len(object_features)} Object Features : {object_features}')

3 Integer Features : ['Pclass', 'SibSp', 'Parch']

2 Float Features : ['Age', 'Fare']

5 Object Features : ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

# 作業1 
* 試著執行作業程式，觀察三種類型 (int / float / object) 的欄位分別進行( 平均 mean / 最大值 Max / 相異值 nunique )  
中的九次操作會有那些問題? 並試著解釋那些發生Error的程式區塊的原因?  

# 作業2
* 思考一下，試著舉出今天五種類型以外的一種或多種資料類型，你舉出的新類型是否可以歸在三大類中的某些大類?  
所以三大類特徵中，哪一大類處理起來應該最複雜?

In [1]:
# 作業1
import pandas as pd
import numpy as np 

training_dataframe = pd.read_csv('./house_train.csv.gz')
testing_dataframe = pd.read_csv('./house_test.csv.gz')
training_target =  training_dataframe['SalePrice']
training_dataframe = training_dataframe.drop(['Id','SalePrice'] ,axis = 1)
testing_dataframe = testing_dataframe.drop(['Id'] , axis = 1)

all_dataframe = pd.concat ([training_dataframe, testing_dataframe])

# 玩資料型態
dtype_series = all_dataframe.dtypes.reset_index()
dtype_series.columns = ['Count' , 'Column Type']
res_count = dtype_series.groupby('Column Type').count().reset_index()
print ('看有哪些型態的欄位 : ')
print (res_count)

list_for_int = list()
list_for_float = list()
list_for_object = list()

for dtype, column_topic in zip(all_dataframe.dtypes, all_dataframe.columns):
    if dtype == 'float64':
        list_for_float.append(column_topic)
    elif dtype == 'int64':
        list_for_int.append(column_topic)
    else:
        list_for_object.append(column_topic)

print (f' All columns of the integer type : {list_for_int} . Total of them are {len(list_for_int)}.\n')
print (f' All columns of the float type : {list_for_float} . Total of them are {len(list_for_int)}.\n')
print (f' All columns of the object type : {list_for_object} . Total of them are {len(list_for_object)}.\n')

看有哪些型態的欄位 :
  Column Type  Count
0       int64     25
1     float64     11
2      object     43
 All columns of the integer type : ['MSSubClass', 'LotArea', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold'] . Total of them are 25.

 All columns of the float type : ['LotFrontage', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'BsmtFullBath', 'BsmtHalfBath', 'GarageYrBlt', 'GarageCars', 'GarageArea'] . Total of them are 25.

 All columns of the object type : ['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature', 'SaleType', 'SaleCondition'] . Total of them are 43.

In [2]:
int_data = all_dataframe[list_for_int]
means = int_data.mean()
maxs = int_data.max()
nuniques = int_data.nunique()
means = means.reset_index()
maxs = maxs.reset_index()
nuniques = nuniques.reset_index()
means.columns = ['Column Names','Mean Values']
maxs.columns = ['Column Names','Max Values']
nuniques.columns = ['Column Names','Numbers of Unique Value']

print(means.head())
print ('-'*40)
print (maxs.head())
print ('-'*40)
print (nuniques.head())

  Column Names   Mean Values
0   MSSubClass     57.137718
1      LotArea  10168.114080
2  OverallQual      6.089072
3  OverallCond      5.564577
4    YearBuilt   1971.312778
----------------------------------------
  Column Names  Max Values
0   MSSubClass         190
1      LotArea      215245
2  OverallQual          10
3  OverallCond           9
4    YearBuilt        2010
----------------------------------------
  Column Names  Numbers of Unique Value
0   MSSubClass                       16
1      LotArea                     1951
2  OverallQual                       10
3  OverallCond                        9
4    YearBuilt                      118

In [3]:
float_data = all_dataframe[list_for_float]
means = float_data.mean()
maxs = float_data.max()
nuniques = float_data.nunique()
means = means.reset_index()
maxs = maxs.reset_index()
nuniques = nuniques.reset_index()
means.columns = ['Column Names','Mean Values']
maxs.columns = ['Column Names','Max Values']
nuniques.columns = ['Column Names','Numbers of Unique Value']

print(means.head())
print ('-'*40)
print (maxs.head())
print ('-'*40)
print (nuniques.head())

  Column Names  Mean Values
0  LotFrontage    69.305795
1   MasVnrArea   102.201312
2   BsmtFinSF1   441.423235
3   BsmtFinSF2    49.582248
4    BsmtUnfSF   560.772104
----------------------------------------
  Column Names  Max Values
0  LotFrontage       313.0
1   MasVnrArea      1600.0
2   BsmtFinSF1      5644.0
3   BsmtFinSF2      1526.0
4    BsmtUnfSF      2336.0
----------------------------------------
  Column Names  Numbers of Unique Value
0  LotFrontage                      128
1   MasVnrArea                      444
2   BsmtFinSF1                      991
3   BsmtFinSF2                      272
4    BsmtUnfSF                     1135

In [4]:
object_data = all_dataframe[list_for_object]

means = object_data.mean()
maxs = object_data.max()
nuniques = object_data.nunique()
means = means.reset_index()
maxs = maxs.reset_index()
nuniques = nuniques.reset_index()
means.columns = ['Column Names','Mean Values']
maxs.columns = ['Column Names','Max Values']
nuniques.columns = ['Column Names','Numbers of Unique Value']

print(means.head())
print ('-'*40)
print (maxs.head())
print ('-'*40)
print (nuniques.head())

Empty DataFrame
Columns: [Column Names, Mean Values]
Index: []
----------------------------------------
Empty DataFrame
Columns: [Column Names, Max Values]
Index: []
----------------------------------------
  Column Names  Numbers of Unique Value
0     MSZoning                        5
1       Street                        2
2        Alley                        2
3     LotShape                        4
4  LandContour                        4

## 作業一
* 三種類型的各欄位的 Mean、Max 和 Nunique的值都可以顯示，並沒有發現什麼Errors!!(呈現結果如上方所示)
* 在最後一個呈現的示例中，也就是object型態的欄位，因為Mean 和 Max 需要數值的大小計算，所以Mean和Max所呈現的結果為一個空的DataFrame。

In [5]:
df = pd.DataFrame([{'col1':True, 'col2':'1'}, {'col1':False, 'col2':'2'}])
df_type = df.dtypes.reset_index()
df_type.columns = ['cName', 'Type']
df_type

  cName    Type
0  col1    bool
1  col2  object

In [6]:
df.loc[0,'col1'].astype('object')

True

In [7]:
df.loc[0,'col1'].astype('int')

1

In [8]:
df.loc[0,'col1'].astype('float')

1.0

## 作業二
---
### 我挑的型態為Boolean
---

* 從上面示例可以看出 ，Boolean 可以轉換成三種型態，若轉成int，會用0表示False，1表示True。若轉成float，會用1.0表示True，0.0表示False。若轉成Object，依然會用原本的True表示True，False表示False。